{% extends 'base-back.html.twig' %}

{% block title %}New Evenement{% endblock %}

{% block body %}
    <h1>Crée un Evenement</h1>

    {{ include('backoffice/event/_form.html.twig') }}

    <a href="{{ path('app_evenement_index') }}">back to list</a>
{% endblock %}
